{%extends "base.html" %}

{%block title%} Flask connect API {%endblock%}


{%block titleH1%}Article(s):{%endblock%}
{%block body%}                

                <hr>
                <div class="container">
                        <div class="row">
                                {% for article in articles %}
                                        <div class="card col-5 article shadow-lg">
                                                <div class="image"></div>
                                                <div class="card-body">
                                                        <h5 class="card-title">{{article[1]}}</h5>
                                                        <p class="writedBy">Writed by: {{article[4]}}</p>
                                                        <p class="card-text">{{article[2]}}</p>
                                                        <small>{{article[3]}}</small><hr>
                                                        <a href="#" class="btn btn-dark">Read more...</a>
                                                </div>
                                        </div>
                                {% endfor %}
                        </div>
                </div>

                



      
        


{%endblock%}

