body{
    background-color: rgba(231, 231, 231, 0.678);
    width: 80%;
    margin:auto;
}

.littleContainer{
    width:50%;
    margin: auto;
    background-color: white;
    padding: 20px 60px;
    border-radius: 15px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.5);
}

.text-center{
    text-align: center;
    
}

.page_title{
    width:50%;
    margin: 100px auto 50px auto;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}

.not-registered{
    margin-top: 30px;
    margin: auto;
    display: block;
}

.text_center.not_registered {
    margin-left: 65%;
}
.not-registered a{
    color: rgba(200,200,200,1);
}

.little-top-margin{
    margin-top:30px;
}

.my-input{
    width:100%;
    border-radius: 5px;
}

input{
    padding:5px;
}

input[type="submit"] {
    margin-left: 60%;
    margin-top: 30px;
    width: 40%;
}

.list-group {
    max-width: 350px;
    margin: auto;
}
h5 {
    font-size: 2.5rem;
    font-weight: 800;
    border-bottom: 0.5px solid rgba(200,200,200,1);
}